<!DOCTYPE html>

<html>
<head>
   <title>Jira Walker</title>
   <link rel="stylesheet"  href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
   <link rel="stylesheet" href="/style.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
   <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

   <style>
   .unfilled {border: 1px solid red}
   label {font-size:11px;color:gray;}
   </style>
</head>
<body>
<div id="main"></div>
<form method="post" action="/run" onsubmit="return processForm()">
    <p><img src="/jwalker.jpg" width="200" alt="Jira Walker" /></p>
    <fieldset class="form-group">
    <p><input   class="form-control required" type="text" name="url" />
    <label>nr taska z Jiry</label></p>
    <p><input  class="form-control required"type="text" name="login"/>
    <label>login</label></p>
    <p><input  class="form-control required"type="password" name="pas"/>
    <label>hasło</label></p>
    <p><button class="btn btn-primary" id="submit">Submit</button></p>
    </fieldset>
</form>

<div id="wait"><img src="/gears.gif" alt="wait for it..." /> </div>
</body>
<script>
function processForm() {
   
    var reqFields = document.getElementsByClassName('required'),
        errors = [];    
      
        for(let i in reqFields){
             let field = reqFields[i];
             
             if (field.value == '') {
               field.classList.add('unfilled');
               errors.push(field.name);
             };
        }     
      
      if (errors.length == 0) {
         
         document.getElementById('wait').style.display = "block";
         document.getElementById('main').style.display = "block";        
         return true;
         }
         else
         { return false; }  
};


</script>
</html>
