<!DOCTYPE html>

<html>
<head>
    <title>Jira Walker: results</title>
    <link rel="stylesheet"  href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css" >
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>

<div class="result">
    <p><img src="/jwalker.jpg" width="200" alt="Jira Walker" /></p>
    <%= data %>
</div>



</body>
</html>
