body,html {
    padding: 0;
    margin: 0;
}
#wait {
    display: none;
    width:64px;
    position: absolute;
    left:50%;
    top:30%;
    margin-left:-32px;
    z-index: 9;
}
#main {
    width: 100%;
    height:100%;
    top:0;
    left:0;
    display: none;
    position: absolute;
    background: #000;
    opacity: 0.5;
    z-index: 10;
}
form,.result {
    width:400px;
    height: 400px;
    margin:30px auto;
}